.body {
background: url('http://forum.videohelp.com/attachments/30382-1424562164/Bubbles3.gif');
background-size: cover;
background-repeat: no-repeat;
height: 920px;
width: 1650px;
float: left;
padding: none;
display: fixed;
overflow: scroll;
}
.nav{
  padding-right: 20px;
  opacity: 0.8;
  background-color: white;
  margin: 0;
}

li{
  display: inline;
  /* padding: 14px 16px; */
  text-decoration: none;
}
li a {
  display: inline-block;
  padding: 5px 16px;
  margin-right: 60px;
}
.log{
  float: right;
  padding-right: 40px;
}

.header{
  margin-bottom: 2%;
}
.form{
  margin: auto;
  width: 40%;
  align: center;
  opacity: 0.9;
  background-color: white;
}
.card{
  background-color: white;
  opacity: 0.6;
}
.main-wrap{
  width: 100%;
  margin-top: -8%;
  margin-left: 2%;
}
.ui.stackable.cards{
  margin-top: 25%;
  float: right;
}
.game-card{
  align: center;
  width: 60%;
  background-color: white;
  padding: 7%;
  margin-left: 5%;
  margin-top: 2%;
  margin-right: 30%;
  border-radius: 5%;
  border-color: #f4d64e;
  border-style: groove;
}
.game-card img {
  position: center;
  box-shadow: grey 5px 5px 1px;
}

.user{
  float: right;
  padding: 4%;
  margin-left: 2%;
  margin-right: 10%;
  margin-top: 4%;
  border: solid;
  border-color: #f4d64e;
  background-color: white;
  border-radius: 5%;
}
.user h2{
  text-align: center;
  border: solid;
  border-color: #f4d64e;
  border-radius: 5%;
  padding: 10px;
}
.user img{
  border: solid;
  border-color: #f4d64e;
  border-radius: 5%;
}

.score-card{
  float: right;
  padding: 4%;
  margin-right: 10%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('https://vignette.wikia.nocookie.net/clubpenguin/images/4/48/Quest_item_Treasure_Map_icon.png/revision/latest?cb=20170319204335')
}
.score-card h3{
  color: white;
  margin-left: 20%;
  font-size: 50px;
  text-shadow: #f4d64e 1px 1px 5px;
}
.collection{
  margin-top: 5%;
  max-width: 70%;
}
.pick{
  padding: 2%;
  font-family: 'Open Sans', sans-serif;
  font-size: 40px;
  color: white;
  text-shadow: black 3px 3px 5px
}

.ui.segment.second{
  /* box-shadow: grey 3px 3px 8px; */
  border: solid;
  border-color: #f4d64e;
  border-radius: 5%;
}

.ui.segment.first{
  max-width: 40%;
  margin: 30%
}
.ui.yellow.button{
  display: inline-block;
  margin: 2px;
  margin-top: 10px;
}
.ui.yellow.button.second{
  display: inline-block;
  margin: 5px;
}
.parent-portal{
  padding-left: 450px;
}
.portal-container{
  width: 1300px;
  height: 800px;
  margin-top: 25px;
  margin-bottom: 45px;
  margin-left: 140px;
  margin-right: 140px;
  background-color: white;
  opacity: 0.7;
  text-align: center;
}
.portal-option a{
  padding-top: 250px;
  margin-top: 400px;
  padding-left: 11px;
  padding-right: 50px;
  display: inline-block;
}
.left{
  float: left;
  text-align: left;
  margin-top: 90px;
  margin-left: 350px;
}
.right{
  float: right;
  margin-top: 90px;
  margin-right: 350px;
  text-align: left;
}
