.body {
background: url('http://forum.videohelp.com/attachments/30382-1424562164/Bubbles3.gif');
background-size: cover;
background-repeat: no-repeat;
height: 850px;
width: 1200px;
float: left;
padding: none;
display: fixed;
overflow: scroll;
}
.nav{
  padding-right: 20px;
  opacity: 0.8;
  background-color: white;
  margin: 0;
}

li{
  display: inline;
  /* padding: 14px 16px; */
  text-decoration: none;
}
li a {
  display: inline-block;
  padding: 5px 16px;
}
.log{
  float: right;
}
.header{
  margin-bottom: 2%;
}
.form{
  margin: auto;
  width: 40%;
  align: center;
  opacity: 0.9;
  background-color: white;
}
.card{
  background-color: white;
  opacity: 0.6;
}
.main-wrap{
  width: 70%;
  margin-top: -5%;
}
.ui.stackable.cards{
  margin-top: 25%;
  float: right;
}
.game-card{
  align: center;
  height: 60%;
  width:60%;
  background-color: white;
  padding: 10%;
  margin-left: 5%;
  margin-top: 10%;
  margin-right: 30%;
  border-radius: 5%;
  border-color: #f4d64e;
  border-style: groove;
}
.game-card img {
  box-shadow: grey 5px 5px 7px;
}
